.form-group
  label(for="title") Title
  input.form-control(placeholder="Title", name="title", value=post.title)
.form-group
  label(for="content") content
  textarea.form-control(placeholder="Content", name="content", rows="10")
    != post.content
button.btn.btn-default(type="submit") Submit
