extends ./layouts/default

block content
  h1 About
  p JavaScript has come a long way since being used solely for drop-down menus and annoying pop-ups.
  p From 
    a(href="https://nodejs.org" target="_blank") nodejs.org
    |:
  blockquote "Node.js® is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices."
  p We’ll explore what all of this means by using Express.js, a web framework for Node.js by building the “15-minute” blog, touching on Express.js’s middleware  concept and well as some of the building blocks of Node.js including NPM.
  cite 
    strong About the presenter:
    p Damon Toal-Rossi is a JS software engineer for Uber, where he works on web applications using Node.js, Backbone.js and more recently React.js. When he's not doing that, he's doing something random like playing banjo, playing rugby, riding a bike, climbing, flying a plane, or... you get the picture.
  p
    strong Don't forget to 
      a(href="http://speakerrate.com/talks/61511", target="_blank") Rate this talk on SpeakerRate
