extends ./layouts/default

block content
  .jumbotron
    h1 Contact Information
    p This presentation brought to you on behalf of 
      a(href="http://abqwebgeeks.org", target="_blank") ABQ Web Geeks
      | and Damon Toal-Rossi.
    
  .row
    .col-sm-4
      h2 This Talk
      ul
        li
          a(href="https://github.com/orbiteleven/nodes-talk-2", target="_blank") GitHub Project
        li 
          a(href="http://speakerrate.com/talks/61511", target="_blank") Review on SpeakerRate
    .col-sm-4
      h2 Damon Toal-Rossi
      ul
        li GitHub: 
          a(href="http://github.com/orbiteleven", target="_blank") orbiteleven
        li Twitter: 
          a(href="https://twitter.com/orbiteleven", target="_blank") @orbiteleven
    .col-sm-4
      h2 ABQ Web Geeks
      ul
        li Website: 
          a(href="http://abqwebgeeks.org", target="_blank") abqwebgeeks.org
        li Twitter: 
          a(href="https://twitter.com/abqwebgeeks", target="_blank") @abqwebgeeks
